<h1>Welcome to BlueSkyTv</h1>

<ul>
  <li>
    <%= link_to "Client", "/clients"%>
  </li>
  <li>
    <%= link_to "Plans", "/plans"%>
  </li>
  <li>
    <%= link_to "Additional Service", "/additional_services"%>
  </li>
  <li>
    <%= link_to "Packages", "/packages" %>
  </li>

</ul>
